<nz-layout>
  <nz-header class="header">
    <div class="header-inner">
      <div class="brand">Клавиатурный тренажёр</div>
      <ul nz-menu nzMode="horizontal" class="nav">
        @if (!isAdmin()) {
          <li nz-menu-item><a routerLink="/trainer/selection">Упражнение</a></li>
          <li nz-menu-item><a routerLink="/trainer/statistics">Статистика</a></li>
        }
        @if (isAdmin()) {
          <li nz-menu-item><a routerLink="/admin/difficulty">Настройка уровней сложности</a></li>
          <li nz-menu-item><a routerLink="/admin/exercises">Создание упражнений</a></li>
          <li nz-menu-item><a routerLink="/admin/statistics">Статистика</a></li>
        }
      </ul>
      <div class="header-actions">
        <button nz-button nzType="text" (click)="logout()">Выйти</button>
        <a nz-dropdown [nzDropdownMenu]="menu" class="dropdown-trigger">
          <nz-icon nzType="exception"></nz-icon>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><a routerLink="/trainer/about">О программе</a></li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <main class="main"><router-outlet></router-outlet></main>
  </nz-content>
</nz-layout>
