<nz-layout>
  <nz-header class="header">
    <div class="header-inner">
      <div class="brand">Клавиатурный тренажёр</div>
      <ul nz-menu nzMode="horizontal" class="nav">
        @if (!isAdmin()) {
          <li nz-menu-item><a routerLink="/trainer/selection">Упражнение</a></li>
          <li nz-menu-item><a routerLink="/trainer/statistics">Статистика</a></li>
        }
        @if (isAdmin()) {
          <li nz-menu-item><a routerLink="/admin/difficulty"></a>Настройка уровней сложности</li>
          <li nz-menu-item><a routerLink="/admin/exercises">Создание упражнений</a></li>
          <li nz-menu-item><a routerLink="/admin/statistics">Статистика</a></li>
        }
        <li nz-menu-item class="logout"><button nz-button nzType="text" (click)="logout()">Выйти</button></li>
        <li nz-menu-item>
          <a nz-dropdown [nzDropdownMenu]="menu">Hover me</a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><a routerLink="/trainer/about"></a>О программе</li>
              <li nz-menu-item><a routerLink="/trainer/about"></a>О программе</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <main class="main"><router-outlet></router-outlet></main>
  </nz-content>
</nz-layout>

