<section class="developers-container">
  <header class="dev-header">
    <h1 class="uni">САМАРСКИЙ УНИВЕРСИТЕТ</h1>
    <h2 class="faculty">Институт информатики и кибернетики</h2>
    <h2 class="project">Курсовой проект по дисциплине «Программная инженерия»<br> по теме «Автоматизированная система «Клавиатурный тренажер» с функциями администратора»</h2>
    <h3 class="subtitle">Разработчики (обучающиеся группы 6302-020302D)</h3>
  </header>

  <div class="card-container">
    <nz-card class="dev-card" nzHoverable>
      <div class="avatar-wrap">
        <a href="https://github.com/Ariel-cano" target="_blank"><img ngSrc="/Github.jpg" alt="github" height="77" width="77" class="avatar"></a>
      </div>
      <div class="card-body">
        <h4 class="name">И. В. Халитов</h4>
        <a class="github" href="https://github.com/Ariel-cano" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </nz-card>

    <nz-card class="dev-card" nzHoverable>
      <div class="avatar-wrap">
        <a href="https://github.com/Soloda1" target="_blank"><img ngSrc="/Github.jpg" alt="github" height="77" width="77" class="avatar"></a>
      </div>
      <div class="card-body">
        <h4 class="name">Р. Б. Хафизов</h4>
        <a class="github" href="https://github.com/Soloda1" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </nz-card>

    <nz-card class="dev-card" nzHoverable>
      <div class="avatar-wrap">
        <a href="https://github.com/asterraf" target="_blank"><img ngSrc="/Github.jpg" alt="github" height="77" width="77" class="avatar"></a>
      </div>
      <div class="card-body">
        <h4 class="name">Р. Ф. Бурганов</h4>
        <a class="github" href="https://github.com/asterraf" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </nz-card>
  </div>
</section>
